.ml-2 {
  margin-left: 6px;
}

#take-home ion-card-title {
  font-size: 7vw;
  font-weight: 600;
  color: var(--ion-color-secondary);
}

#take-home ion-card-subtitle {
  font-weight: 600;
  color: var(--ion-color-secondary);
}

#take-home ion-thumbnail {
  height: 24px;
  width: auto;
  margin-right: 5px;
}

form ion-label {
  font-weight: 600;
  color: var(--ion-color-secondary-shade);
}

form ion-item {
  --padding-start: 16px;
  --padding-end: 16px;
  --border-color: var(--ion-color-primary);
}

#info-grid ion-label {
  // font-size: 14px;
  color: var(--ion-color-secondary);
}

// #info-grid ion-icon {
//   color: red;
// }

#info-grid h4 {
  margin-top: 10px;
  font-weight: 500;
}

#info-grid ion-icon {
  font-size: 18px;
}

#info-grid ion-thumbnail {
  width: 18px;
  height: auto;
  margin-right: 10px;
}

.semibold {
  font-weight: 500;
}

#table > ion-grid {
  --ion-grid-column-padding: 10px;
  border-collapse: collapse;
  border-style: hidden;
  
  ion-row:first-child {
    background-color:  var(--ion-color-light-shade);
    font-weight: bold;
  }
  ion-col {
    border: 1px solid var(--ion-color-medium);
    border-bottom: 0;
    border-right: 0;
  }
  ion-col:last-child {
    border-right: 1px solid var(--ion-color-medium);
  }
  
  ion-row:last-child {
    border-bottom: 1px solid var(--ion-color-medium);
  }
}
